.DS_Store
.env
__pycache__/
*.pyc

*.db
*.db-shm
*.db-wal
*.zip
*.xlsx
*.csv
*.parquet

gemma_results/
gemma_results_full/
batch_translate_output/
batch_translate_jobads_jp.jsonl
batch_translate_jobads_jp_error.jsonl
esco_skills/
prev.ipynb

term_esco_matches.json
skills_esco_agg.json
esco_category_shares.json
report_files/
